/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px; /* Aumenta el tamaño base de fuente */
  line-height: 1.6; /* Mejora la legibilidad */
}
.container-xl {
  padding: 20px; /* Añade más padding */
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.title {
  text-align: center;
  color: #6b3fa0;
  font-size: 2rem; /* Título más grande */
  margin-bottom: 40px;
}
.card {
  width: 95%; /* Casi todo el ancho de la pantalla */
  margin: 0 auto 30px;
  padding: 20px;
}
.option {
  max-width: 100%; /* Botones de ancho completo */
  padding: 20px; /* Botones más grandes */
  font-size: 1.2rem; /* Texto más grande */
  margin: 15px 0; /* Más espacio entre botones */
}
#map {
  height: 800px; /* Mapa más alto */
  width: 100%;
  border-radius: 15px;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.map-image {
  flex: 1;
  background-image: url('mapa.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.map-legend {
  flex: 1;
  padding-left: 20px;
}

.map-legend ul {
  list-style-type: none;
  padding: 0;
}

.map-legend li {
  margin-bottom: 10px;
}
  


.qqvbed-p83tee {
  font-size: 20px;}